<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfleaf.yunapi.mapper.ApiRequestLogMapper">

    <resultMap id="BaseResultMap" type="com.qfleaf.yunapi.model.entity.ApiRequestLog">
            <id property="id" column="id" />
            <result property="apiId" column="api_id" />
            <result property="userId" column="user_id" />
            <result property="requestTime" column="request_time" />
            <result property="requestParams" column="request_params" />
            <result property="responseStatus" column="response_status" />
            <result property="responseTime" column="response_time" />
            <result property="ipAddress" column="ip_address" />
            <result property="deletedAt" column="deleted_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,api_id,user_id,request_time,request_params,response_status,
        response_time,ip_address,deleted_at
    </sql>
</mapper>
