<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfleaf.yunapi.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.qfleaf.yunapi.entity.Users">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="email" column="email" />
            <result property="role" column="role" />
            <result property="status" column="status" />
            <result property="deletedAt" column="deleted_at" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,email,role,status,
        deleted_at,created_at,updated_at
    </sql>
</mapper>
